button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 35px;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    background: #dedede;
    box-shadow:  9px 9px 18px #cecece, -9px -9px 18px #eeeeee;
    margin: 15px 0;
}

button:hover {
    border-radius: 40px;
    background: #dedede;
    box-shadow: inset 9px 9px 18px #cecece, inset -9px -9px 18px #eeeeee;
}